run = "npm start"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "dlavie"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Dlavie Guarded Engine"

[[workflows.workflow]]
name = "Start Dlavie Guarded Engine"
author = "dlavie"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 9000

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[agent]
expertMode = true

[userenv]

[userenv.shared]
DLAVIE_PHONE_NUMBER = "6285725483343"
DLAVIE_OWNER_NUMBERS = "62882007437216"
DLAVIE_GUARD_ENABLED = "true"
